<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.40.0" targetFramework="net461" />
  <package id="NEventStore" version="5.2.0" targetFramework="net461" />
  <package id="NMoneys" version="4.1.0.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
</packages>