<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.1.2.281-beta" targetFramework="net461" developmentDependency="true" />
  <package id="Akka.Persistence" version="1.1.2.281-beta" targetFramework="net461" developmentDependency="true" />
  <package id="Akka.Persistence.Sql.Common" version="1.1.2.257-beta" targetFramework="net461" developmentDependency="true" />
  <package id="Akka.Persistence.SqlServer" version="1.1.1.158-beta" targetFramework="net461" developmentDependency="true" />
  <package id="Akka.Serialization.Wire" version="1.1.2.30-beta" targetFramework="net461" developmentDependency="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuProj" version="0.11.14-beta" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
  <package id="Wire" version="0.8.1" targetFramework="net461" />
</packages>