<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.8" targetFramework="net452" />
  <package id="Akka.Cluster" version="1.0.8.25-beta" targetFramework="net452" />
  <package id="Akka.DI.Core" version="1.0.8" targetFramework="net452" />
  <package id="Akka.DI.Unity" version="1.0.8" targetFramework="net452" />
  <package id="Akka.Persistence" version="1.0.8.25-beta" targetFramework="net452" />
  <package id="Akka.Remote" version="1.0.8" targetFramework="net452" />
  <package id="Akka.TestKit" version="1.0.8" targetFramework="net452" />
  <package id="Akka.TestKit.NUnit" version="1.0.8" targetFramework="net452" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net452" />
  <package id="Helios" version="1.4.1" targetFramework="net452" />
  <package id="NEventStore" version="5.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.5" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net452" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net452" />
</packages>