<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="NEventStore" version="5.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuProj" version="0.11.14-beta" targetFramework="net461" developmentDependency="true" />
  <package id="Serilog" version="2.3.0" targetFramework="net461" />
  <package id="Wire" version="0.8.1" targetFramework="net461" />
</packages>